@import '~bootstrap/scss/bootstrap';

html {
  font-size: 16px;
}

.header {
  .header-nav {
    .header-logo {
      flex-basis: 10%;
    }

    .header-link {
      list-style: none;
      flex-basis: 65%;
      padding-left: 2.25rem;

      & > li {
        position: relative;
      }

      & > li a {
        display: inline-flex;
        text-transform: uppercase;
        color: #1c202b;
        text-decoration: none;
        margin: 0 3.125rem 0 0;
        position: relative;
        padding: 0.5rem 0;

        &:hover:before {
          opacity: 1;
        }

        &:before {
          content: '';
          width: 100%;
          border: 1px solid $primary;
          position: absolute;
          display: block;
          left: 0;
          bottom: 0;
          opacity: 0;
          transition: opacity 0.5s ease;
        }
      }

      .container-submenu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:after {
          content: '';
          display: inline-flex;
          width: 0.5rem;
          height: 0.3125rem;
          background: url('../img/after-sumitem.svg');
          margin: 0 0 0 0.8rem;
        }

        &.open:after {
          transform: rotate(180deg);
        }
      }

      & ul {
        list-style: none;
        display: none;
        padding: 0;
        background: white;
        border-radius: 0 0 0.25rem 0.25rem;
        border: 1px solid #cecece;
        padding: 0.3rem;

        & > li a {
          display: block;
          width: 100%;
          text-transform: none;
        }
      }

      & a.open + ul {
        display: block;
        position: absolute;
        left: 0;
        top: -1px;
      }
    }

    .header-authorized {
      flex-basis: 25%;

      .header-signin {
        margin-right: 0.5rem;

        &:hover {
          background: $primary;
          color: $white;
        }
      }
    }
  }
}
.section-wrapper {
  background: #f3f8ff;

  .section {
    display: flex;
  }

  .first-line {
    display: flex;
    flex-wrap: wrap;
    .section-item1 {
      flex-basis: 30%;
    }
    .section-item2 {
      justify-content: center;
      flex-basis: 40%;
    }
    .section-item3 {
      justify-content: flex-end;
      flex-basis: 30%;
    }
  }
  .second-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
